<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="Console" xsi:type="ColoredConsole"
            layout="${longdate} | ${threadid} | ${level:uppercase=true} | ${logger} > ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <!-- Set name to fully qualified name to debug for example single classes -->
    <logger name="VinteR.OutputAdapter.*" minlevel="Error" writeTo="console" />
    <logger name="VinteR.OutputAdapter.MongoOutputAdapter" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>